[Unit]
Description=Bug radio webserver service

[Service]
Type=simple
ExecStart=/home/leon/bug-radio/webserver.sh
Restart=on-failure
RestartSec=10
User=leon
Group=leon
KillMode=control-group

[Install]
WantedBy=multi-user.target
